[submodule "site-lisp/submodules/pyenv-mode-auto"]
	path = site-lisp/submodules/pyenv-mode-auto
	url = https://github.com/hotoku/pyenv-mode-auto
[submodule "site-lisp/submodules/tsx-mode.el"]
	path = site-lisp/submodules/tsx-mode.el
	url = https://github.com/orzechowskid/tsx-mode.el
[submodule "site-lisp/submodules/tsi.el"]
	path = site-lisp/submodules/tsi.el
	url = https://github.com/orzechowskid/tsi.el
[submodule "site-lisp/submodules/zetasql-formatter-el"]
	path = site-lisp/submodules/zetasql-formatter-el
	url = https://github.com/hotoku/zetasql-formatter-el
[submodule "site-lisp/submodules/copilot.el"]
	path = site-lisp/submodules/copilot.el
	url = https://github.com/zerolfx/copilot.el
